
<div style="position:absolute;right:48px;top:8px;">
    <button (click)="exitConfigMenu()" class="btn btn-outline-light">Back to Products</button>
</div>

<form *ngIf="addingNew || editingExisting" class="minor-margin card card-body">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Product Name</label>
            <input type="text" class="form-control" placeholder="Product Name" id="name"  name="name" [(ngModel)]="newConfig.productName">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name2">Must Contain The Word</label>
            <input type="text" class="form-control" placeholder="Must Contain Word" id="name2" name="name2" [(ngModel)]="newConfig.productNameMustContainWord">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="name3">Must Contain One Word</label>
            <input type="text" class="form-control" placeholder="Must Contain At Least One Word" id="name3" name="name3" [(ngModel)]="newConfig.productNameMustContainAtLeastOneWordFromString">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="city">City</label>
            <input type="text" class="form-control" placeholder="City" id="city" name="city" [(ngModel)]="newConfig.city">
        </div>
        <div class="form-group col-md-4">
            <label for="zip">Zip</label>
            <input type="number" class="form-control" placeholder="Zip" id="zip" name="zip" [(ngModel)]="newConfig.localZip">
        </div>
        <div class="form-group col-md-4">
            <label for="distance">Distance</label>
            <input type="number" class="form-control" placeholder="Distance" id="distance" name="distance" [(ngModel)]="newConfig.maxDistance">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="currency">Currency</label>
            <input type="text" class="form-control" placeholder="$/€/£..." id="currency" name="currency" [(ngModel)]="newConfig.currencySymbol">
        </div>
        <div class="form-group col-md-4">
            <label for="low">Low</label>
            <input type="number" class="form-control" placeholder="Low" id="low" name="low" [(ngModel)]="newConfig.validLowPrice">
        </div>
        <div class="form-group col-md-4">
            <label for="high">High</label>
            <input type="number" class="form-control" placeholder="High" id="high" name="high" [(ngModel)]="newConfig.validHighPrice">
        </div>
    </div>
    <div class="form-row minor-margin">
        <div class="form-group col-md-4">
            <button (click)="saveConfig()" *ngIf="addingNew || editingExisting" class="btn btn-outline-primary">Save</button>
            <button (click)="addingNew=false;editingExisting=false;this.newConfig = {};" *ngIf="addingNew || editingExisting" class="btn btn-link">Cancel</button>
        </div>
    </div>
</form>

<button (click)="createNewConfigAction()" class="btn btn-primary minor-margin" 
    style="display: flex;margin: 10px auto;flex-direction: column;align-items: center;" *ngIf="!addingNew && !editingExisting">Create a New Configuration</button>

<h2 *ngIf="searchConfigs" style="margin-top:10px;">Current Configuration</h2>

<div *ngIf="searchConfigs">
    <table class="table table-sm" style="width:60vw">
        <thead>
            <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Must Contain the Word</th>
                <th>Includes at Least One Word From</th>
                <th>City</th>
                <th>Zip</th>
                <th>Distance</th>
                <th>Low</th>
                <th>High</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let config of searchConfigs">
                <td class="align-middle" style="width:100px;">
                    <button style="font-size:8pt;" *ngIf="config.active" (click)="deactivate(config)" class="activate-button btn btn-success">
                        <span>Active</span>
                    </button>
                    <button style="font-size:8pt;" *ngIf="!config.active" (click)="activate(config)" class="deactivate-button btn btn-outline-success">
                        <span>Inactive</span>
                    </button>
                </td>
                <th scope="row" class="align-middle">{{config.productName}}</th>
                <td class="align-middle">{{config.productNameMustContainWord}}</td>
                <td class="align-middle">{{config.productNameMustContainAtLeastOneWordFrom}}</td>
                <td class="align-middle">{{config.city}}</td>
                <td class="align-middle">{{config.localZip}}</td>
                <td class="align-middle">{{config.maxDistance}}</td>
                <td class="align-middle">{{config.validLowPrice}}</td>
                <td class="align-middle">{{config.validHighPrice}}</td>
                <td class="align-middle"><button style="font-size:8pt;" (click)="edit(config)" class="btn btn-outline-success btn-sm">Edit</button></td>
                <td class="align-middle"><button style="font-size:8pt;" (click)="clone(config)" class="btn btn-outline-secondary btn-sm">Clone</button></td>
                <td class="align-middle"><button style="font-size:8pt;" (click)="remove(config)" class="btn btn-outline-danger btn-sm">Remove</button></td>
            </tr>
      </tbody>
    </table>
</div>
